.ClassSelect{
    margin: 20px 0;
    span{
        display: inline-block;
        margin-right: 20px;
    }
}


// 课程管理
.course_inp_wrapper{
    display: flex;
    width: 280px;
    margin: 20px auto;
}
.course_span{
    display: block;
    margin-right: 20px;
    white-space:nowrap;
    line-height: 32px;
}
.elect_course_select,.elect_classes_select{
    display: flex;
    margin-bottom: 20px;
    span{
        display: flex;
        align-items: center;
        margin-right: 20px;
    }
}
.select_wrapper{
    display: flex;
    margin: 20px 0;
    &>span{
        display: flex;
        width: 120px;
        align-items: center;
        margin-right: 20px;
    }
}
.ant-notification-notice-with-icon .ant-notification-notice-message{
    font-size:18px;
}
.ant-notification-notice-with-icon .ant-notification-notice-description{
    font-size: 14px;
}
.import_excel{
    display: flex;
}
.course_header{
    display: flex;
    margin-top: 20px;
    .import_excel{
        flex: 1;
        margin-bottom: 10px;
    }
    .upload-course-start{
        margin-left: 20px;
    }
}
.class_header,.elective_header,.ingilator_header,.room_header{
    margin-bottom: 10px;
    display: flex;
    justify-content: flex-end;
}

.arrange_header{
    margin-bottom: 10px;
    .arrange_option{
        display: flex;
        .download{
            flex: 1;
        }
    }
}
.arr-title{
    text-align: center;
    font-size: 18px;
}
.arr_img_wrapper{
    display: block;
    width: 90%;
    margin: 0 auto;
}
.arr_img_wrapper>img{
    width: 100%;
    height: auto;
}

.resetpwd {
    padding-top: 50px;
    .title{
        text-align: center;
        font-size: 20px;
    }
}
.pwd_wrapper{
    background: #fff;
    padding: 10px;
    border-radius: 10px;
}